/* Style Sheet for Cloud Resume Challenge */
:root {
    --primary-color: #218381;
}

.container {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #222;
    font-size: 14px;
    line-height: 26px;
    max-width: 700px;
    background: #fff;
    box-shadow: 1px 1px 2px #DAD7D7;
    border-radius: 3px;
    padding: 40px;
    margin: 50px auto 0;
}

.header {
    margin-bottom: 30px;
}

.fullName {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.firstName {
    font-weight: 700;
}

.lastName {
    font-weight: 300;
}

.twoColumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.twoColumns > * {
    padding: 0 1rem;
}

.contactSection {
    margin: 10px 0;
    padding: 1px 1rem;
    background-color: lightgray;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contactInfoColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.contactInfoItem {
    padding: 0.1rem 0;
    margin: 0.25rem 10px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.contactInfoField {
    margin-left: 1rem;
    font-weight: 300;
    color: #222;
}

.contactInfoIcon {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.email ,
.phone {
    color: #999;
    font-weight: 300;
}

.separator {
    height: 10px;
    display: inline-block;
    border-left: 2px solid #999;
    margin: 0 10px;
}

.position {
    font-size: x-large;
    color: gray;
    display: inline-block;
}

.summary {
    line-height: 1rem;
}

.contents {
    line-height: 20px;
}

.section {
    margin-bottom: 25px;
}

.section:last-of-type {
    margin-bottom: 0;
}

.sectionTitle {
    letter-spacing: 2px;
    color: var(--primary-color);
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.subSectionTitle {
    font-weight: bold;
    color: black;
    font-size: large;
}

.subSectionDescription {
    font-style: italic;
    color: #555;
    font-size: 1rem;
}

.subSectionBullet {
    margin-top: 0;
}

.sectionListItem {
    margin-bottom: 20px;
}

.sectionListItem:last-of-type {
    margin-bottom: 0;
}

.compactListItem {
    margin-bottom: 10px;
}

.compactListItem:last-of-type {
    margin-bottom: 0;
}

.left ,
.right {
    vertical-align: top;
    display: inline-block;
}

.left {
    width: 70%;
}

.right {
    text-align: right;
    width: 29%;
}

.name {
    font-weight: bold;
}

.skillsRow {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    background-color: #2db4adbb;
    border-radius: 5px;
    padding: 3px 5px;
    margin: 3px 5px;
}

.skillsSection {
    margin-bottom: 10px;
}

.skillsSection:last-of-type {
    margin-bottom: 0;
}

input {
    display: none;
}