apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: {{ include "dpg-client.fullname" . }}
  namespace: {{ .Values.namespace.name }}
spec:
  entryPoints:
    - web
  routes:
    - kind: Rule
      match: Path(`/`)
      services:
        - kind: Service
          name: {{ include "dpg-client.fullname" . }}
          port: 80
      middlewares:
        - name: {{ .Values.middleware.name }}
