/* custom.css */
:root {
    --dpg-teal: #3DB6B0;
    --dpg-red-light: #f75e5f;
    --dpg-red-dark: #6b0009;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: var(--dpg-teal);
}

a:hover {
    color: var(--dpg-red-light);
}

.aniGradient {
    width: 100vw;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg,
    rgba(45, 122, 173, 1) 0%,
    rgba(45, 122, 173, 0.3) 50%,
    rgba(45, 122, 173, 0.15) 65%,
    rgba(45, 122, 173, 0.075) 75.5%,
    rgba(45, 122, 173, 0.037) 82.85%,
    rgba(45, 122, 173, 0.019) 88%,
    rgba(45, 122, 173, 0) 100%
    );
    background-size: 300% 300%;
    -webkit-animation: Gradient 30s ease infinite;
    -moz-animation: Gradient 30s ease infinite;
    animation: Gradient 30s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}
